@import "../global.css";


/* Window size */

html, body {
	min-height: 500px;
	min-width: 300px;
	background-color: var(--window-color);
}


/* Default styling */

.error { color: #f20065; }

.m-text {
	font-size: var(--m-text);
}

.hidden {
  	display: none;
}

button:hover {
	cursor: pointer;
	background-color: var(--primairy-color) !important;
	color: #fff;
	border: 1px solid var(--primairy-color) !important;
	border-radius: var(--border-radius-small);
	box-shadow: var(--box-shadow);
	border: 2px solid var(--secondary-color);
}

/* Custom styling */

#fake-btn {
	display: none;
}

#old-fields {
	display: none;
}

.title-holder {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--accent-color);
	border-radius: var(--border-radius-large);
	border: 1px solid var(--secondary-color);
	box-shadow: var(--box-shadow);
}

.title-holder .title {
	font-size: var(--l-text);
	color: var(--primairy-color);
}

.title-holder button {
	height: 35px;
	width: 100px;
	font-size: var(--s-text);
	border: none;
	background-color: var(--accent-color);
}

.game-input-holder {
	margin-top: var(--row-gap);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.game-input-holder .preset-btn {
	height: 50px;
	width: 130px;
	font-size: var(--s-text);
	border-radius: var(--border-radius-small);
	box-shadow: var(--box-shadow);
	border: 1px solid var(--secondary-color);
}

.game-input-holder .select-holder {
	width: 100%;
    margin-left: 5px;
	height: 50px;
	border-radius: var(--border-radius-small);
	box-shadow: var(--box-shadow);
	border: 1px solid var(--secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-input-holder .select-holder #game {
	width: 95%;
	height: 32px;
	border-radius: var(--border-radius-small);
	box-shadow: var(--box-shadow);
	border: 1px solid var(--secondary-color);
	font-size: var(--s-text);
}

.game-input-holder .select-holder #game:hover {
	cursor: pointer;
}

.game-input-holder .select-holder #game option {
	background-color: var(--accent-color);
	font-size: var(--s-text);
	border-radius: var(--border-radius-small);
}

.url-input-holder {
	margin-top: var(--row-gap);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: var(--border-radius-small);
	border: 1px solid var(--secondary-color);
	padding: 10px 0px 10px 0px;
	font-size: var(--m-text);
}

.url-input-holder input {
	width: 90%;
	min-height: 20px;
	white-space: pre;
	word-break: break-all;
}

.url-input-holder label {
	margin-top: 10px;
	margin-bottom: 5px;
}

.input-btn-holder {
	margin-top: var(--row-gap);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin: 10px 5px 0px 5px;
}

.input-btn-holder button {
	height: 33px;
    width: 105px;
	font-size: var(--t-text);
	border-radius: var(--border-radius-small);
	box-shadow: var(--box-shadow);
	border: 1px solid var(--secondary-color);
}

.input-btn-holder button:not(:first-child) {
	margin-left: 5px;
}

.fetch-btn-holder {
	margin-top: var(--row-gap);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.fetch-btn-holder button {
	height: 35px;
	width: 100px;
	font-size: var(--s-text);
	border-radius: var(--border-radius-small);
	box-shadow: var(--box-shadow);
	border: 2px solid var(--secondary-color);
}

.fetch-btn-holder #btn {
	background-color: var(--primairy-color);
	color: #fff;
	border: 1px solid var(--primairy-color);
}

.fetch-btn-holder #btn:hover {
	background-color: var(--accent-color) !important;
	color: #000;
}

.download-btn-holder {
	margin-top: var(--row-gap);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.download-btn-holder button {
	height: 35px;
	width: 130px;
	font-size: var(--s-text);
	border-radius: var(--border-radius-small);
	box-shadow: var(--box-shadow);
	border: 2px solid var(--secondary-color);
}

.data-output {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: var(--border-radius-small);
	padding: 10px 0px 10px 0px;
	font-size: var(--m-text);
}

.data-output #log {
	width: 100%;
	scroll-behavior: smooth;
	white-space: pre;
	overflow: auto;
    overflow-wrap: break-word;
}

.data-output ::-moz-selection { /* Code for Firefox */
	background-color: #3a4055;
    color: #e6e1dc;
}
  
.data-output ::selection {
	background-color: #3a4055;
    color: #e6e1dc;
}